SPRING_PROFILES_ACTIVE=docker

ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.5.1
ZOOKEEPER_CLIENT_PORT=2181

KAFKA_IMAGE=confluentinc/cp-kafka:7.5.1
KAFKA_BROKER_ID=1
KAFKA_HOST=kafka
KAFKA_PORT=9092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

TODO_DB_IMAGE=postgres:15
TODO_DB_NAME=todo_db
TODO_DB_USER=todo_user
TODO_DB_PASSWORD=todo_pass
TODO_DB_PORT=5432

REMINDER_DB_IMAGE=mongo:6
REMINDER_DB_PORT=27017
REMINDER_DB_NAME=reminder_db

SECURITY_SERVICE_VERSION=1.0.0
SECURITY_SERVICE_PORT=8081

TODO_SERVICE_VERSION=1.0.0
TODO_SERVICE_PORT=8082

REMINDER_SERVICE_VERSION=1.0.0
REMINDER_SERVICE_PORT=8083

API_GATEWAY_VERSION=1.0.0
API_GATEWAY_PORT=8080

BFF_VERSION=1.0.0
BFF_PORT=8084